/*--------------------------------------------------------------
	>>> MENU
	----------------------------------------------------------------*/

    $background--color:#1e2023;
	$icon--color:#1e2023;
	$font--color:#ffffff;
	$font--color--active:#000000;
	$font--primary:'Fira Sans', sans-serif;
	$transition--length: 0.8;
	$width: 100vw;
	$height: 100vh;
	$font--size--calc: calc(2vw + 10px);
	$transition--easing: cubic-bezier(.77,0,.175,1);

	.menu {
		position: absolute;
		width: auto;
		height: 60px;
		background-color: transparent;
		top: 50px;
		right: 30px;
		cursor:none;
		z-index: 100;
		transition: 0.5s right var(--animation-type);

		& .containerLine {

			width: 40px;
			right: 40px;
			height: 50px;
			top: -3px;
			position: absolute;

			& .line_top {
				position: absolute;
				width: 40px;
				height: 1px;
				--switch-menu: calc((var(--light-bg) - var(--threshold)) * -100);
				background-color: rgb(var(--switch-menu),var(--switch-menu),var(--switch-menu));
				right: 0;
				top: 6px;
                transition: all $transition--easing 0.5s;
			}
			

			& .line_bottom {
				position: absolute;
				width: 20px;
				height: 1px;
				--switch-menu: calc((var(--light-bg) - var(--threshold)) * -100);
				background-color: rgb(var(--switch-menu),var(--switch-menu),var(--switch-menu));
				right: 0;
				top: 19px;
                transition: transform $transition--easing 0.5s;
			}
		}



		& .containerText {

			width: 40px;
			right: 0px;
			height: 50px;
			top: 0px;
			position: absolute;


			& .text {
				font-size: 22px;
				line-height: 0;
				margin-left: 5px;
				font-weight: 100;
			} 
		}
	}

	.removeMenu {
		right: -100px;
	}


	.nav{
		
		position: fixed;
		z-index:-1;
		transition: z-index linear 1s;
		&:before,&:after{
			content: "";
			position: fixed;
			width:$width;
			height:$height;
			background: rgba(#eaeaea, .2);
			z-index: -1;
			transition: transform $transition--easing $transition--length + s;
			transform: translateX(0%) translateY(-100%);
		}
		&:after{
			background: rgba(#ffffff, 1);
			transition-delay: 0s;
		}
		&:before{
			transition-delay: .1s;
		}
        &__list {
                display: inline-flex;
                justify-content: center;
                width: 100vw;
            }
		&__content{
			position: fixed;
			top:50%;
			transform: translate(0%,-50%);
			width: 0;
			text-align: center;
			font-size: $font--size--calc;
			font-weight: 200;
			cursor: pointer;

            & ul.nav__list {
                display: inline-flex;
                justify-content: center;
                width: 100vw;
            }

            
		}
		& .menu-item{
			position: relative;
			display: inline-block;
			transition-delay: $transition--length + s;
			opacity: 0;
			transform: translate(0%, 100%);
			transition: opacity .2s ease, transform .3s ease;
			margin-right: 25px;
			&:before{
				content: "";
				position: absolute;
				background: $font--color--active;
				width: 20px;
				height: 1px;
				top: 100%;
				left: 0;
				transform: translate(0%, 0%);
				transition: all .3s ease;
				z-index: -1;
			}
			&:hover{
				&:before{
					width: 100%;
				}
			}
			& a {
				color: black;
				padding: 0;
				margin: 0;
				text-decoration: none;
			}
		}
	}
	
	//active state
	.nav-active{
        .nav {
            z-index:99;
        }
		$menu--items--count: 5;
		.menu-icon{
			
			& .line_top{
				transform: translateX(2px) translateY(5px) rotate(45deg);
                width: 20px;
			}
			& .line_bottom{
				transform: translateX(1px) translateY(-8px) rotate(-45deg);
			}
		}
		.nav{
			visibility:visible;
			&:before,&:after{
				transform: translateX(0%) translateY(0%);
			}
			&:after{
				transition-delay: .1s;
			}
			&:before{
				transition-delay: 0s;
			}
			& .menu-item{
				opacity: 1;
				transform: translateX(0%);
				transition: opacity .3s ease, transform .3s ease, color .3s ease;
				@for $i from 0 through $menu--items--count {
					&:nth-child(#{$i}){
						transition-delay: $transition--length * $i / 8 + .5 + s;
					}
				}
			}
		}
	}