.loading {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 101;
    transition: 0.5s all cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.enter {
    top: 0;
}

.exit {
    top: -100vh;
    transition: 1.5s all cubic-bezier(0.95, 0.05, 0.795, 0.035);
}