canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000,0.5);
  /* background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}



$lightgreen: #666649 ;
	$darkgreen: #244530;

	$black: #000;
	$white: #fff;

	$line-height: 40px;
	$line-height-abs: -40px;

	$animationBezier: cubic-bezier(0.95, 0.05, 0.795, 0.035);

	@mixin pseudo ($content: '') {
	position: absolute;
	content: $content;
	}
	/*--------------------------------------------------------------
	>>> GENERAL
	----------------------------------------------------------------*/

	:root {
		--light-bg: 70;
		--threshold: 50;
		--menu-hue: 0;
		--menu-sat: 0;
		--menu-light: 0;
		--animation-type: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	}