$primula_bg_color: #429bd5;
$ulivo_bg_color: #759361;
$tarassaco_bg_color: #e95895;
$edera_bg_color: #f8b133;
$giglio_bg_color: #ec7274;

:root {
  --primula_bg_color: #429bd5;
  --ulivo_bg_color: #759361;
  --tarassaco_bg_color: #e95895;
  --edera_bg_color: #f8b133;
  --giglio_bg_color: #ec7274;
  --btn-bg-ulivo: #ec7274;
  --btn-bg-primula: #9dc55b;
  --btn-bg-tarassaco: #dec9bc;
  --btn-bg-edera: #7b995e;
  --btn-bg-giglio: #fed019;
}
