@import "./variables";
@import "./fonts";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
}
.app__grid_area {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60vh 40vh 60vh 40vh;
  grid-template-areas:
    "primula text text text giglio"
    "primula ulivo scroll edera giglio"
    ". ulivo tarassaco edera ."
    ". . tarassaco . .";

  .block__generic {
    padding: 15% 10%;
    h2 {
      font-weight: 300;
      width: 100%;
      font-size: 50px;
      color: white;
      text-align: center;
      z-index: 2;
    }
    img {
      width: 70%;
      margin-top: -25%;
      z-index: 1;
    }

    p {
      font-weight: 300;
      width: 100%;
      font-size: 18px;
      color: white;
      text-align: center;
      z-index: 2;
    }
  }

  .primula__block {
    grid-area: primula;
    background-color: $primula_bg_color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .text__block {
    grid-area: text;
    background-color: white;
  }
  .giglio__block {
    grid-area: giglio;
    background-color: $giglio_bg_color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .ulivo__block {
    grid-area: ulivo;
    background-color: $ulivo_bg_color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .edera__block {
    grid-area: edera;
    background-color: $edera_bg_color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .tarassaco__block {
    grid-area: tarassaco;
    background-color: $tarassaco_bg_color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .scroll__block {
    grid-area: scroll;
    background-color: white;
  }
}
